*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    color: whitesmoke;
    background-color: #121212;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/* Typography and icons */

.title,
.top-link {
    font-family: 'Smythe', sans-serif;
}

.title {
    font-size: 2.5rem;
}

.top-link {
    font-size: 1.125rem;
}

.start-exploring {
    color: #2E2E2F;
    font-size: 1.125rem;
}

.empty {
    color: #787878;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.lets-add {
    font-size: 1rem;
}

.movie-title {
    font-size: 1.25rem;
    font-weight: 400;
}

.movie-rating,
.movie-year,
.movie-duration,
.movie-genre {
    font-size: 0.75rem;
    font-weight: 400;
}

.movie-year,
.movie-duration,
.movie-genre {
    margin: 0;
}

.movie-plot {
    font-size: 0.875rem;
    font-weight: 300;
}

/* Layout */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    padding: 0 0 2.5rem 0;
    margin: 0 auto;
    position: absolute;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("images/top-background-small.png");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    padding: 2.5rem;
}

.search-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.5rem;
    position: relative;
    bottom: 1rem;
}

.input-movie {
    color: whitesmoke;
    font-size: 1rem;
    background-image: url("images/search-icon.png");
    background-repeat: no-repeat;
    background-size: 4.5%;
    background-position-y: center;
    background-position-x: 1rem;
    background-color: #A5A5A5;
    width: 100%;
    padding: 0.5rem 2.9rem;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 100%;
    padding: 2.5rem;
}

.initial-state-main,
.initial-state-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-container-main {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.movie-result,
.movie-result-watchlist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.125rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 0;
    border-bottom: 1px solid #2C2C2C;
}

.movie-result-watchlist {
    border-bottom: 1px solid #E5E7EB;
}

.title-and-rating {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0.5rem;
}

.about-movie {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Buttons */

button {
    cursor: pointer;
}

.search-button {
    font-size: 1rem;
    background-color: #4B4B4B;
    padding: 0.5rem 0.9rem;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Images */

.add-icon-main {
    width: 100%;
    cursor: pointer;
}

.movie-poster {
    /* width: 60%; */
    /* max-width: 100px; */
    max-width: 40%;
}

.add-button {
    cursor: pointer;
    width: 20px;
}

.remove-button {
    cursor: pointer;
    width: 20px;
}

/* Links */

.top-link {
    color: whitesmoke;
    text-decoration: none;
}

.add-main {
    width: 15%;
}

/* Media queries */

/* @media(width >= 600px) */
@media(min-width: 600px) {
    /* Typography and icons */

    .title {
        font-size: 3.25rem;
    }

    .top-link {
        font-size: 1.8rem;
    }

    .empty {
        font-size: 1.5rem;
    }
    
    .lets-add {
        font-size: 1.25rem;
    }

    .movie-title {
        font-size: 1.375rem;
        font-weight: 400;
    }
    
    .movie-rating,
    .movie-year,
    .movie-duration,
    .movie-genre {
        font-size: 1rem;
        font-weight: 300;
    }
    
    .movie-plot {
        font-size: 1.125rem;
        font-weight: 300;
    }

    /* Layout */

    header {
        justify-content: space-around;
        height: 250px;
    }

    .search-form {
        width: 60%;
    }

    .input-movie {
        font-size: 1.25rem;
        background-size: 3%;
        padding: 1.125rem 4rem;
    }

    .movie-result {
        max-width: 80%;
        padding: 2rem 0;
    }

    /* Buttons */

    .search-button {
        font-size: 1.25rem;
    }

    /* Images */

    .movie-poster {
        max-width: 40%;
    }

    .add-button,
    .remove-button {
        max-width: 5%;
    }

    /* Links */

    .add-main {
        width: 20%;
    }

}
